.hb-article-time {
  display: flex;
  align-items: center;
  background-color: var(--petrol-5);
  border-radius: 8px;
  padding: 6px 10px 6px 8px;
  color: var(--petrol-80);
  font-size: 20px;
}

.hb-article-time-text {
  color: var(--nightblue-100);
  font-size: 13px;
  font-weight: 500;
  margin-left: 8px;
}

.hb-categories-wrapper {
  border-radius: 30px;
  padding: 30px;
  border: 2px solid var(--petrol-80);
  margin-top: 30px;

  .label {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.01em;
    text-align: left;
    color: white;
    margin-bottom: 32px;
  }

  .items-wrapper {
    display: flex;
    flex-wrap: wrap;

    .item {
      padding: 6px 12px;
      background-color: var(--petrol-80);
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: var(--aquamarin-80);
      border-radius: 80px;
      margin: 10px 8px 0 0;
      display: inline-block;
      box-shadow: 0px 5px 10px rgba(0, 95, 113, 0.4);
      white-space: nowrap;
      cursor: pointer;
    }

    .item:hover {
      background-color: var(--petrol-60);
    }

    .item.active {
      background-color: var(--violet-80);
      color: white;
      box-shadow: 0px 5px 10px rgba(99, 70, 117, 0.4);
    }

    .item.active:hover {
      background-color: var(--violet-60);
    }
  }
}

.hb-my-categories-wrapper {
  padding: 30px;
  background: linear-gradient(129.17deg, #e9daf2, #faf2ff);
  border-radius: 30px;
  padding: 30px 26px;
  margin-top: 30px;

  .label {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--nightblue-100);
    margin-bottom: 32px;
    padding: 0 8px;
  }

  .items-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-height: 320px;
    padding: 0 18px 20px 8px;
    margin: 0 -10px 0 0;

    .item {
      padding: 6px 12px;
      background-color: var(--violet-80);
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: white;
      border-radius: 80px;
      margin: 10px 8px 0 0;
      box-shadow: 0px 5px 10px rgba(99, 70, 117, 0.4);
      white-space: nowrap;
      cursor: pointer;
    }

    .item:hover {
      background-color: var(--violet-60);
    }
  }
}

.hb-start-newsfeed-wrapper {
  width: 100%;
  padding: 22px 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 3;
}

.hb-start-newsfeed {
  width: 100%;
  max-width: 325px;
}

.hb-select-category-intro {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
  max-width: 565px;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 34px;
}
