.mobilitySaved {
  margin: 0 153px;

  .hashtagInformation {
    font-weight: 500;
    font-size: 27px;
    color: var(--nightblue-90);
  }

  .btn {
    background: var(--nightblue-20);
    color: var(--nightblue-100);
  }
  .title {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 34px;
    color: var(--nightblue-100);
    margin-top: 16px;
    margin-bottom: 50px;
  }
  .informationTrainer {
    .amountView {
      display: flex;
      align-items: center;
      margin-left: 8px;
      padding: 4px 10px;

      background: var(--violet-10);
      border-radius: 8px;
      color: var(--nightblue-100);
      i {
        font-size: 20px;
        margin-right: 8px;
        color: var(--violet-60);
      }
    }
  }

  .hashtag {
    padding: 7px 10px 8px;
    width: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--violet-20);
    border-radius: 16px;
  }

  .content {
    color: var(--nightblue-100);
    font-weight: 500;
    font-size: 16px;
    word-break: break-all;
  }
}
