.admin-drag-container {
  width: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #777;
  height: 180px;
  position: relative;
}

.admin-file-error-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.admin-file-error-msg-text {
  font-size: 12px;
  margin-left: 4px;
  color: #e55353;
  margin-bottom: 0px;
}
