.hb-back-to-top {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hb-back-to-top.active {
  transition: opacity 0.3s ease;
  cursor: pointer;
  opacity: 0.37;
}

.hb-back-to-top.active:hover {
  opacity: 0.72;
}
